.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formField input,
.formField select {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #7a7a7a;
  background-color: #3a3a3a;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}

.formField input:focus,
.formField select:focus {
  border-color: #9a9a9a;
  outline: none;
}

.formField input[type="radio"],
.formField input[type="checkbox"] {
  width: auto;
  margin-right: 0.5rem;
  cursor: pointer;
}

.formField label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
